{% extends "frame.html" %}

{% block title %}
    Edit Entry
{% endblock title %}

{% block content %}
    <form action="/message/{{ message.key.id() }}/post_edit" method="post">
        Name:
        <input name="fullname" value="{{ message.message_author }}">
        <br>
        Email:
        <input name="email" value="{{ message.message_email }}">
        <br>
        Message:
        <input name="message" value="{{ message.message_text }}">
        <br>
        <button type="submit">OK</button>
    </form>

{% endblock content %}